asgiref==3.2.3
astroid==2.3.3
autopep8==1.4.4
beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.1
Django==3.0.4
django-cors-headers==3.2.1
django-crispy-forms==1.8.1
django-jsonfield==1.4.0
djangorestframework==3.11.0
gunicorn==20.0.4
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.3
lxml==4.4.2
mccabe==0.6.1
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
mysqlclient==1.4.6
nltk==3.4.5
numpy==1.18.1
pandas==0.25.3
Pillow==7.0.0
pycodestyle==2.5.0
pylint==2.4.4
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
six==1.14.0
soupsieve==1.9.5
sqlparse==0.3.0
textblob==0.15.3
urllib3==1.25.8
wincertstore==0.2
wrapt==1.11.2