{% extends 'adtool/base.html' %}
{% load static %}
{% block content %}
{% if object %}

<div>
    <div class="container">
        <legend>
            <h3 class="h3">
                {{ object.name }}
            </h3>
            <a class="btn btn-outline-secondary btn-sm mt-1 mb-1" href="{% url 'update' advertisement.id %}">update</a>
            <a class="btn btn-outline-danger btn-sm mt-1 mb-1" href="{% url 'delete' advertisement.id %}">delete</a>
        </legend>
        <div>
            <img src="{{ object.image.url }}" class="img-responsive"
                style="width: 50%; float: left; margin-right: 10px;" />
        </div>
        <br>
        <p class="h6" style="clear:left;">{{ object.url_link }}</p>
        <canvas id="detail-click-chart"></canvas>

    </div>
  
</div>
<script>
    click_log = JSON.parse("{{ click_log|escapejs }}")
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="{% static 'adtool/js/detail_click_chart.js' %}"></script>
<!--
    Comment Section
    
-->
{% endif %}
{% endblock content %}