{% extends 'adtool/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<!-- <div class="content-section"> -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- <div>
        <img src="{{ object.ad_image.url }}"class="img-responsive"
        style="width: 100%; float: left; margin-right: 10px;"/>
        </div> -->
        {{ form|crispy }}
        <button type="submit" class="btn btn-outline-dark">Upload</button>
    </form>
<!-- </div> -->


{% endblock content %}