{% extends 'adtool/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if form.instance.ad_image %}
    <img src="{{ form.instance.ad_image.url }}" alt="advertisement image" id="profile-img-tag" width="200px" />
    {% else %}
    <img src="{% static 'adtool/default_ad.png' %}" alt="advertisement image" id="profile-img-tag">
    {% endif %}
    <p>{{form.instance.ad_image}}</p>
    {{ form|crispy }}
    <button type="submit" class="btn btn-outline-dark">Upload</button>    
</form>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
<script type="text/javascript">
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                $('#profile-img-tag').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#id_ad_image").change(function(){
        readURL(this);
    });
</script>


{% endblock content %}