{% extends 'adtool/base.html' %}
{% block content %}
{% if object %}

<div>
    <div class="container">
        <legend>
            <h3 class="h3">
                {{ object.name }}
            </h3>
            <a class="btn btn-outline-secondary btn-sm mt-1 mb-1" href="{% url 'update' advertisement.id %}">update</a>
            <a class="btn btn-outline-danger btn-sm mt-1 mb-1" href="{% url 'delete' advertisement.id %}">delete</a>
        </legend>
        <div>
            <img src="{{ object.ad_image.url }}" class="img-responsive"
                style="width: 50%; float: left; margin-right: 10px;" />
        </div>  
        <p style="clear: left;"></p>
        <br>
        <p class="h6" style="clear:left;">{{ object.ad_image }}</p>
        
    </div>
</div>

{% endif %}
{% endblock content %}