<!-- MAKE A GRAPH HERE, I'VE JUST MADE A TEST PIECHART... WE NEED A LINE/BAR graph for y = clicks, x = day -->
{% extends 'adtool/base.html' %}
{% load static %}
{% block content %}



<h1>Dashboard</h1>

<canvas id="myChart"></canvas>

<div id="chartdiv"></div>


<script type="text/javascript">
    // This stores the django template variables of this page
    var ads = "{{ ads|escapejs }}";
    ads = JSON.parse(ads)
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="{% static 'adtool/js/clicks_chart.js' %}"></script>
{% endblock content %}