<!-- MAKE A GRAPH HERE, I'VE JUST MADE A TEST PIECHART... WE NEED A LINE/BAR graph for y = clicks, x = day -->
{% extends 'adtool/base.html' %}
{% load static %}
{% block content %}

<h1>Dashboard</h1>

<div id="example"></div>


<script type="text/javascript">
    // This stores the django template variables of this page
    var ads = "{{ ads|escapejs }}";
    ads = JSON.parse(ads)
</script>

<!-- Edit the javascript link below -->
<script type="text/javascript" src="{% static 'adtool/js/example.js' %}"></script>


{% endblock content %}